<footer id="footer">
  <div id="copyRight">© Abhinav Meena. All Rights Reserved</div>
  <div id="link-container">
    <div class="link-btn"><a href="/">Home</a></div>
    <div class="link-btn">
      <a href="/users/profile/<%= user.id %>">Profile</a>
    </div>
  </div>
</footer>
