<header id="header">
  <h1><i class="fas fa-heart fa-sm"></i> getSocial</h1>
  <div id="link-container">
    <% if (locals.user){ %>
    <div class="link-btn">
      <a href="/users/profile"> <%= user.name %> </a>
    </div>
    <div class="link-btn">
      <a href="/users/sign-out">Sign Out</a>
    </div>
    <% }else{ %>

    <div class="link-btn">
      <a href="/users/sign-in">Sign In</a>
    </div>

    <div class="link-btn">
      <a href="/users/sign-up">Sign Up</a>
    </div>

    <% } %>
  </div>
</header>
