<link rel="stylesheet" href="/css/home.css" />
<% if(locals.user){%>
<div id="home-container">
  <section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
      <textarea
        name="content"
        cols="30"
        rows="3"
        placeholder="Type Here..."
      ></textarea>
      <input type="submit" value="Post" />
    </form>

    <div id="posts-list-container">
      <ul>
        <% for(post of posts){%> <%-include('_post.ejs')-%> <%}%>
      </ul>
    </div>
  </section>

  <section id="user-friend">
    <h4>Friends</h4>
    <ul>
      <%for( u of all_users){%>
      <li>
        <p>
          <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
        </p>
      </li>
      <%}%>
    </ul>
  </section>
</div>
<%}%>

<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="/js/noty.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>