#footer {
  display: flex;
  align-items: center;
  background-color: #f90;
  color: #212121;
  padding: 0.2rem 0.6rem;
}

#footer #link-container {
  margin: 0.2rem 0.6rem;
  display: flex;
}

#footer #link-container .link-btn {
  background-color: #212121;
  margin: 0.25rem;
  padding: 0.3rem 0.5rem;
  border: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  max-width: 7em;
}

#footer #link-container .link-btn a {
  color: #f90;
  text-decoration: none;
}
