#header {
  display: flex;
  font-size: 1.3rem;
  padding: 0.2rem 0.6rem;
  background-color: #f90;
  color: #000;
  justify-content: space-between;
}

#header h1 {
  margin: 0;
}

#header #link-container {
  display: flex;
  align-items: center;
}

#header #link-container .link-btn {
  background-color: #000;
  margin: 0.25rem;
  padding: 0.3rem 0.5rem;
  border: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  max-width: 7em;
}

#header #link-container .link-btn a {
  color: #f90;
  text-decoration: none;
}
